.app-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-flow: dense;
}

.add-client {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.services-list {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 6;
}

.header-hero {
  margin-bottom: 10px;
}

.panel-block.is-active {
  border-left-color: #ff3860;
}

.client-services .panel-block {
  border: none;
}